html
	head
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/lees.css')

	body
		div.commonbg
			h1 编辑文档
			section#editor
				form(action="/article/put",method="post")
					label 文档标题:
					input(type="text",name="title",value=title)
					div.clear
					label 文档栏目:
					input(type="text",name="category",value=category)
					div.clear
					input(type="hidden",name="author")
					label 章节标题:
					input(type="text",name="capter",value=capter)
					div.clear
					label 章节索引:
					input(type="text",name="index",placeholder="数字，如1，2，3...，文档不分章节此项可略。",value=index)
					div.clear
					
					input(type="hidden",name="id",value=_id)
					textarea(name="content",style="visibility:hidden;height:0",id="content")
					div#maineditor=content
					button
						a(href="/") 取消
					button(type="submit",id="submit")
						span 提交修改

		script(data-main='/javascripts/editor.js', src='/javascripts/libs/require/require.js')